#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1481px 448px #FFF , 909px 472px #FFF , 1668px 1666px #FFF , 1752px 1845px #FFF , 32px 1829px #FFF , 240px 274px #FFF , 15px 266px #FFF , 92px 1673px #FFF , 1022px 468px #FFF , 323px 985px #FFF , 236px 193px #FFF , 1492px 1172px #FFF , 702px 1692px #FFF , 1180px 207px #FFF , 1523px 1524px #FFF , 285px 1675px #FFF , 469px 1104px #FFF , 853px 54px #FFF , 507px 1752px #FFF , 1469px 207px #FFF , 165px 85px #FFF , 1915px 910px #FFF , 1748px 1544px #FFF , 1161px 775px #FFF , 431px 933px #FFF , 1868px 1373px #FFF , 1835px 207px #FFF , 305px 720px #FFF , 1161px 1941px #FFF , 1866px 1053px #FFF , 1804px 1098px #FFF , 606px 876px #FFF , 716px 1445px #FFF , 399px 1222px #FFF , 1621px 13px #FFF , 262px 1696px #FFF , 1580px 1747px #FFF , 426px 1083px #FFF , 800px 1558px #FFF , 1935px 1165px #FFF , 297px 1023px #FFF , 1722px 871px #FFF , 1439px 1252px #FFF , 788px 745px #FFF , 716px 970px #FFF , 234px 163px #FFF , 649px 1958px #FFF , 1381px 239px #FFF , 1399px 1018px #FFF , 482px 1775px #FFF , 1895px 46px #FFF , 1174px 1754px #FFF , 33px 1778px #FFF , 1376px 87px #FFF , 868px 225px #FFF , 673px 1975px #FFF , 1083px 1141px #FFF , 382px 245px #FFF , 1248px 270px #FFF , 25px 819px #FFF , 245px 1425px #FFF , 884px 1759px #FFF , 498px 1321px #FFF , 562px 729px #FFF , 402px 1291px #FFF , 186px 1640px #FFF , 1683px 1670px #FFF , 1085px 1176px #FFF , 887px 394px #FFF , 1501px 1790px #FFF , 1325px 339px #FFF , 879px 312px #FFF , 1911px 878px #FFF , 1080px 1945px #FFF , 960px 1673px #FFF , 1913px 341px #FFF , 887px 1935px #FFF , 1614px 271px #FFF , 601px 1774px #FFF , 1824px 1015px #FFF , 1172px 742px #FFF , 605px 101px #FFF , 1249px 163px #FFF , 1075px 219px #FFF , 338px 1266px #FFF , 780px 813px #FFF , 114px 529px #FFF , 1485px 1285px #FFF , 81px 962px #FFF , 1310px 1485px #FFF , 949px 1585px #FFF , 1906px 1063px #FFF , 793px 873px #FFF , 1970px 192px #FFF , 973px 324px #FFF , 1877px 790px #FFF , 583px 1807px #FFF , 686px 1665px #FFF , 770px 481px #FFF , 621px 1150px #FFF , 1455px 1632px #FFF , 1675px 920px #FFF , 1655px 711px #FFF , 1033px 372px #FFF , 1302px 935px #FFF , 1003px 806px #FFF , 835px 981px #FFF , 431px 1529px #FFF , 1208px 151px #FFF , 997px 1581px #FFF , 353px 1140px #FFF , 620px 592px #FFF , 1307px 1753px #FFF , 143px 1454px #FFF , 1324px 1108px #FFF , 1625px 1202px #FFF , 749px 775px #FFF , 444px 1086px #FFF , 1953px 1959px #FFF , 1408px 468px #FFF , 1308px 944px #FFF , 1536px 1976px #FFF , 365px 1975px #FFF , 1820px 1278px #FFF , 1603px 1953px #FFF , 1148px 427px #FFF , 1634px 1177px #FFF , 825px 1568px #FFF , 210px 1501px #FFF , 958px 1242px #FFF , 605px 1062px #FFF , 1599px 8px #FFF , 996px 1512px #FFF , 581px 754px #FFF , 82px 326px #FFF , 1025px 1943px #FFF , 331px 1932px #FFF , 824px 977px #FFF , 2000px 1893px #FFF , 946px 1405px #FFF , 1825px 161px #FFF , 369px 1283px #FFF , 1996px 710px #FFF , 1255px 1744px #FFF , 617px 1438px #FFF , 649px 1327px #FFF , 1889px 1921px #FFF , 1013px 623px #FFF , 1899px 742px #FFF , 138px 1059px #FFF , 750px 25px #FFF , 1438px 542px #FFF , 1319px 435px #FFF , 161px 1638px #FFF , 281px 513px #FFF , 1802px 1845px #FFF , 1933px 140px #FFF , 1022px 1678px #FFF , 716px 742px #FFF , 1386px 825px #FFF , 194px 1442px #FFF , 648px 1530px #FFF , 310px 1886px #FFF , 1909px 1102px #FFF , 1974px 1424px #FFF , 432px 1937px #FFF , 447px 1749px #FFF , 512px 478px #FFF , 507px 556px #FFF , 1520px 1255px #FFF , 494px 1593px #FFF , 978px 1119px #FFF , 1961px 49px #FFF , 1622px 1184px #FFF , 1936px 688px #FFF , 297px 1537px #FFF , 1906px 831px #FFF , 1756px 1571px #FFF , 1363px 1147px #FFF , 1209px 1225px #FFF , 1064px 895px #FFF , 727px 5px #FFF , 1978px 52px #FFF , 1839px 334px #FFF , 1497px 749px #FFF , 1601px 1201px #FFF , 1218px 1827px #FFF , 1321px 316px #FFF , 800px 1047px #FFF , 543px 478px #FFF , 1391px 1169px #FFF , 418px 932px #FFF , 1079px 1146px #FFF , 1538px 747px #FFF , 701px 1405px #FFF , 1906px 689px #FFF , 1234px 41px #FFF , 1566px 195px #FFF , 944px 1641px #FFF , 1334px 1916px #FFF , 1312px 908px #FFF , 557px 1769px #FFF , 874px 1051px #FFF , 1276px 1440px #FFF , 1512px 15px #FFF , 1706px 429px #FFF , 1454px 728px #FFF , 1144px 145px #FFF , 1552px 1076px #FFF , 372px 102px #FFF , 988px 871px #FFF , 715px 1039px #FFF , 1055px 1537px #FFF , 1002px 940px #FFF , 755px 1499px #FFF , 1159px 1535px #FFF , 1887px 1970px #FFF , 839px 1090px #FFF , 1793px 249px #FFF , 14px 1809px #FFF , 1808px 1573px #FFF , 129px 951px #FFF , 703px 1835px #FFF , 1539px 1574px #FFF , 772px 346px #FFF , 630px 343px #FFF , 350px 226px #FFF , 240px 125px #FFF , 737px 372px #FFF , 1954px 322px #FFF , 1473px 1045px #FFF , 1653px 1204px #FFF , 1222px 647px #FFF , 1255px 1459px #FFF , 1394px 1428px #FFF , 1586px 1559px #FFF , 166px 794px #FFF , 1351px 1864px #FFF , 1347px 107px #FFF , 1346px 160px #FFF , 785px 1855px #FFF , 808px 1115px #FFF , 1743px 1830px #FFF , 744px 513px #FFF , 718px 139px #FFF , 405px 1224px #FFF , 612px 483px #FFF , 1072px 1931px #FFF , 1194px 168px #FFF , 617px 396px #FFF , 1580px 135px #FFF , 966px 1184px #FFF , 647px 1418px #FFF , 845px 599px #FFF , 496px 1293px #FFF , 1512px 1139px #FFF , 743px 652px #FFF , 1587px 1326px #FFF , 540px 70px #FFF , 854px 1880px #FFF , 198px 1534px #FFF , 1322px 43px #FFF , 1758px 1538px #FFF , 1685px 1372px #FFF , 1478px 1460px #FFF , 246px 1784px #FFF , 718px 1678px #FFF , 394px 1383px #FFF , 840px 1310px #FFF , 368px 18px #FFF , 625px 1638px #FFF , 968px 553px #FFF , 1717px 1522px #FFF , 1257px 1269px #FFF , 1997px 1305px #FFF , 1121px 419px #FFF , 653px 824px #FFF , 818px 1829px #FFF , 918px 960px #FFF , 127px 1811px #FFF , 1678px 1135px #FFF , 1975px 1052px #FFF , 535px 1396px #FFF , 807px 1892px #FFF , 198px 168px #FFF , 851px 890px #FFF , 138px 554px #FFF , 499px 533px #FFF , 664px 483px #FFF , 1910px 455px #FFF , 637px 999px #FFF , 724px 1757px #FFF , 1499px 769px #FFF , 1552px 1964px #FFF , 1943px 1297px #FFF , 1368px 1880px #FFF , 769px 734px #FFF , 1108px 971px #FFF , 1783px 683px #FFF , 1635px 595px #FFF , 277px 582px #FFF , 494px 1817px #FFF , 198px 1759px #FFF , 1931px 864px #FFF , 1364px 1111px #FFF , 1787px 198px #FFF , 706px 1551px #FFF , 435px 685px #FFF , 1624px 393px #FFF , 774px 703px #FFF , 952px 468px #FFF , 1325px 1102px #FFF , 1037px 761px #FFF , 233px 1243px #FFF , 889px 1351px #FFF , 242px 688px #FFF , 563px 1367px #FFF , 572px 1564px #FFF , 1539px 130px #FFF , 574px 1470px #FFF , 1669px 136px #FFF , 1389px 272px #FFF , 197px 187px #FFF , 425px 1579px #FFF , 1957px 1842px #FFF , 560px 76px #FFF , 958px 1002px #FFF , 809px 415px #FFF , 1947px 537px #FFF , 2000px 875px #FFF , 108px 346px #FFF , 1694px 1570px #FFF , 169px 953px #FFF , 1721px 1893px #FFF , 369px 1573px #FFF , 870px 1544px #FFF , 25px 527px #FFF , 1530px 1731px #FFF , 1361px 496px #FFF , 333px 891px #FFF , 578px 1662px #FFF , 1732px 1602px #FFF , 1289px 1080px #FFF , 471px 1463px #FFF , 683px 1999px #FFF , 1277px 185px #FFF , 1326px 1915px #FFF , 774px 777px #FFF , 954px 1073px #FFF , 1053px 806px #FFF , 1735px 2000px #FFF , 513px 1523px #FFF , 1098px 1803px #FFF , 1413px 1970px #FFF , 27px 594px #FFF , 337px 55px #FFF , 1810px 337px #FFF , 1286px 325px #FFF , 111px 872px #FFF , 76px 1945px #FFF , 1368px 206px #FFF , 1045px 385px #FFF , 1997px 986px #FFF , 1216px 616px #FFF , 429px 1021px #FFF , 614px 464px #FFF , 109px 149px #FFF , 475px 811px #FFF , 1140px 48px #FFF , 400px 588px #FFF , 1385px 375px #FFF , 1592px 1017px #FFF , 1468px 1794px #FFF , 1570px 1254px #FFF , 1146px 1384px #FFF , 1021px 381px #FFF , 239px 133px #FFF , 1113px 1740px #FFF , 1223px 617px #FFF , 870px 737px #FFF , 1227px 693px #FFF , 910px 1698px #FFF , 283px 1925px #FFF , 1718px 1442px #FFF , 573px 301px #FFF , 855px 1436px #FFF , 930px 1981px #FFF , 210px 1011px #FFF , 1414px 187px #FFF , 809px 797px #FFF , 165px 1974px #FFF , 1925px 1366px #FFF , 181px 1208px #FFF , 1891px 1924px #FFF , 416px 1014px #FFF , 307px 101px #FFF , 1266px 1886px #FFF , 1707px 1578px #FFF , 1186px 1476px #FFF , 171px 984px #FFF , 1049px 1309px #FFF , 1980px 1088px #FFF , 1434px 1720px #FFF , 1594px 956px #FFF , 338px 212px #FFF , 44px 84px #FFF , 1258px 1672px #FFF , 726px 344px #FFF , 1432px 132px #FFF , 898px 1352px #FFF , 1209px 1026px #FFF , 143px 1946px #FFF , 522px 1860px #FFF , 1341px 785px #FFF , 879px 973px #FFF , 865px 144px #FFF , 1644px 1550px #FFF , 14px 1785px #FFF , 1422px 1130px #FFF , 675px 1010px #FFF , 1053px 1133px #FFF , 293px 974px #FFF , 557px 942px #FFF , 980px 947px #FFF , 102px 1446px #FFF , 1358px 1846px #FFF , 1071px 1454px #FFF , 1474px 1921px #FFF , 760px 484px #FFF , 512px 1269px #FFF , 1422px 1727px #FFF , 1344px 799px #FFF , 213px 1743px #FFF , 1857px 664px #FFF , 432px 388px #FFF , 404px 1728px #FFF , 516px 106px #FFF , 142px 723px #FFF , 1821px 1495px #FFF , 403px 1972px #FFF , 1722px 926px #FFF , 1746px 196px #FFF , 1478px 1158px #FFF , 279px 709px #FFF , 1606px 904px #FFF , 957px 1224px #FFF , 499px 40px #FFF , 1575px 300px #FFF , 230px 1931px #FFF , 1868px 957px #FFF , 449px 1092px #FFF , 1766px 494px #FFF , 1760px 570px #FFF , 1990px 195px #FFF , 1993px 130px #FFF , 1418px 39px #FFF , 190px 59px #FFF , 1708px 842px #FFF , 357px 1330px #FFF , 424px 245px #FFF , 1395px 499px #FFF , 1734px 1394px #FFF , 1468px 1727px #FFF , 962px 1580px #FFF , 1947px 1226px #FFF , 1779px 1058px #FFF , 13px 102px #FFF , 880px 265px #FFF , 471px 496px #FFF , 1937px 1870px #FFF , 28px 1119px #FFF , 1582px 1575px #FFF , 946px 549px #FFF , 725px 581px #FFF , 1629px 1910px #FFF , 613px 242px #FFF , 722px 283px #FFF , 126px 1250px #FFF , 536px 738px #FFF , 127px 1336px #FFF , 1443px 1310px #FFF , 777px 752px #FFF , 1501px 1711px #FFF , 868px 211px #FFF , 837px 1196px #FFF , 456px 894px #FFF , 1965px 397px #FFF , 931px 871px #FFF , 1353px 2000px #FFF , 1485px 1502px #FFF , 989px 1412px #FFF , 1639px 206px #FFF , 214px 1065px #FFF , 870px 1706px #FFF , 1832px 1357px #FFF , 1252px 1375px #FFF , 1090px 491px #FFF , 295px 831px #FFF , 1661px 620px #FFF , 563px 1137px #FFF , 614px 1685px #FFF , 68px 1285px #FFF , 1457px 540px #FFF , 1904px 1369px #FFF , 524px 1937px #FFF , 1466px 1985px #FFF , 95px 305px #FFF , 1999px 510px #FFF , 299px 1324px #FFF , 1091px 57px #FFF , 1115px 1549px #FFF , 1194px 485px #FFF , 434px 226px #FFF , 1519px 1281px #FFF , 244px 1787px #FFF , 351px 1125px #FFF , 281px 881px #FFF , 905px 820px #FFF , 1550px 809px #FFF , 26px 255px #FFF , 1731px 1402px #FFF , 1439px 367px #FFF , 1901px 214px #FFF , 1285px 1073px #FFF , 510px 83px #FFF , 1721px 1732px #FFF , 639px 960px #FFF , 185px 1177px #FFF , 1630px 23px #FFF , 821px 1908px #FFF , 849px 1162px #FFF , 456px 735px #FFF , 216px 779px #FFF , 659px 1383px #FFF , 1374px 971px #FFF , 1619px 478px #FFF , 1530px 943px #FFF , 707px 924px #FFF , 1036px 704px #FFF , 1978px 1519px #FFF , 1452px 1463px #FFF , 1595px 1501px #FFF , 425px 1674px #FFF , 1001px 114px #FFF , 1048px 896px #FFF , 1087px 605px #FFF , 743px 486px #FFF , 299px 1503px #FFF , 457px 1406px #FFF , 982px 1552px #FFF , 749px 509px #FFF , 1202px 1375px #FFF , 222px 1207px #FFF , 1728px 1408px #FFF , 1544px 1655px #FFF , 953px 1039px #FFF , 1554px 216px #FFF , 665px 774px #FFF , 1361px 1844px #FFF , 148px 1897px #FFF , 762px 1503px #FFF , 1923px 64px #FFF , 1283px 298px #FFF , 1897px 310px #FFF , 1023px 869px #FFF , 1283px 1415px #FFF , 130px 721px #FFF , 1021px 342px #FFF , 1768px 1736px #FFF , 451px 238px #FFF , 1004px 329px #FFF , 1699px 126px #FFF , 274px 1851px #FFF , 1469px 381px #FFF , 1035px 1793px #FFF , 1968px 720px #FFF , 1008px 484px #FFF , 802px 409px #FFF , 715px 127px #FFF , 422px 998px #FFF , 993px 260px #FFF , 1495px 1066px #FFF , 1052px 572px #FFF , 1534px 1920px #FFF , 656px 233px #FFF , 1782px 1209px #FFF , 1955px 1087px #FFF , 1962px 466px #FFF , 1241px 34px #FFF , 1261px 1862px #FFF , 259px 118px #FFF , 859px 1233px #FFF , 1687px 1537px #FFF , 524px 919px #FFF , 665px 368px #FFF , 1273px 507px #FFF , 1728px 302px #FFF , 554px 1138px #FFF , 490px 340px #FFF , 50px 361px #FFF , 1623px 1914px #FFF , 730px 1854px #FFF , 1698px 537px #FFF , 788px 178px #FFF , 1466px 1927px #FFF , 604px 558px #FFF , 28px 329px #FFF , 760px 535px #FFF , 536px 1612px #FFF , 901px 808px #FFF , 1282px 732px #FFF , 389px 464px #FFF , 1643px 1472px #FFF , 677px 1126px #FFF , 275px 838px #FFF , 350px 1445px #FFF , 400px 482px #FFF , 708px 36px #FFF , 315px 199px #FFF , 1088px 1276px #FFF , 1985px 1114px #FFF , 163px 251px #FFF , 457px 1193px #FFF , 57px 682px #FFF , 40px 1314px #FFF , 1442px 1149px #FFF , 1997px 1023px #FFF , 1024px 853px #FFF , 1973px 636px #FFF , 1019px 1912px #FFF , 1686px 1450px #FFF , 1443px 831px #FFF , 516px 191px #FFF , 590px 1330px #FFF , 1363px 780px #FFF , 381px 1843px #FFF , 813px 462px #FFF , 507px 22px #FFF , 203px 567px #FFF , 1384px 318px #FFF , 78px 930px #FFF , 319px 1007px #FFF , 707px 1572px #FFF , 1643px 1488px #FFF , 555px 269px #FFF , 1337px 927px #FFF , 1561px 419px #FFF , 469px 240px #FFF , 86px 1470px #FFF , 647px 1948px #FFF , 1777px 1106px #FFF , 1252px 545px #FFF , 1370px 834px #FFF , 487px 766px #FFF , 1354px 1710px #FFF , 958px 460px #FFF , 686px 1135px #FFF , 1259px 1703px #FFF , 1303px 974px #FFF , 1936px 1314px #FFF , 746px 753px #FFF , 1787px 1910px #FFF , 764px 21px #FFF , 730px 1391px #FFF , 1833px 1298px #FFF , 662px 1191px #FFF , 1170px 1096px #FFF , 841px 1209px #FFF , 1218px 983px #FFF , 1134px 787px #FFF , 1509px 811px #FFF , 230px 559px #FFF , 113px 62px #FFF , 1199px 629px #FFF , 1014px 587px #FFF , 438px 1233px #FFF , 1248px 1321px #FFF , 958px 103px #FFF , 1520px 1245px #FFF , 998px 1223px #FFF , 1688px 463px #FFF , 454px 1200px #FFF , 1729px 1566px #FFF , 1440px 1599px #FFF , 1323px 291px #FFF , 30px 1256px #FFF , 1466px 1369px #FFF , 1016px 212px #FFF , 810px 1620px #FFF , 663px 835px #FFF , 1687px 1546px #FFF , 1352px 30px #FFF , 446px 1439px #FFF , 1110px 1081px #FFF , 219px 582px #FFF , 614px 1451px #FFF , 848px 1178px #FFF , 118px 1928px #FFF , 825px 1464px #FFF , 1428px 1452px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1481px 448px #FFF , 909px 472px #FFF , 1668px 1666px #FFF , 1752px 1845px #FFF , 32px 1829px #FFF , 240px 274px #FFF , 15px 266px #FFF , 92px 1673px #FFF , 1022px 468px #FFF , 323px 985px #FFF , 236px 193px #FFF , 1492px 1172px #FFF , 702px 1692px #FFF , 1180px 207px #FFF , 1523px 1524px #FFF , 285px 1675px #FFF , 469px 1104px #FFF , 853px 54px #FFF , 507px 1752px #FFF , 1469px 207px #FFF , 165px 85px #FFF , 1915px 910px #FFF , 1748px 1544px #FFF , 1161px 775px #FFF , 431px 933px #FFF , 1868px 1373px #FFF , 1835px 207px #FFF , 305px 720px #FFF , 1161px 1941px #FFF , 1866px 1053px #FFF , 1804px 1098px #FFF , 606px 876px #FFF , 716px 1445px #FFF , 399px 1222px #FFF , 1621px 13px #FFF , 262px 1696px #FFF , 1580px 1747px #FFF , 426px 1083px #FFF , 800px 1558px #FFF , 1935px 1165px #FFF , 297px 1023px #FFF , 1722px 871px #FFF , 1439px 1252px #FFF , 788px 745px #FFF , 716px 970px #FFF , 234px 163px #FFF , 649px 1958px #FFF , 1381px 239px #FFF , 1399px 1018px #FFF , 482px 1775px #FFF , 1895px 46px #FFF , 1174px 1754px #FFF , 33px 1778px #FFF , 1376px 87px #FFF , 868px 225px #FFF , 673px 1975px #FFF , 1083px 1141px #FFF , 382px 245px #FFF , 1248px 270px #FFF , 25px 819px #FFF , 245px 1425px #FFF , 884px 1759px #FFF , 498px 1321px #FFF , 562px 729px #FFF , 402px 1291px #FFF , 186px 1640px #FFF , 1683px 1670px #FFF , 1085px 1176px #FFF , 887px 394px #FFF , 1501px 1790px #FFF , 1325px 339px #FFF , 879px 312px #FFF , 1911px 878px #FFF , 1080px 1945px #FFF , 960px 1673px #FFF , 1913px 341px #FFF , 887px 1935px #FFF , 1614px 271px #FFF , 601px 1774px #FFF , 1824px 1015px #FFF , 1172px 742px #FFF , 605px 101px #FFF , 1249px 163px #FFF , 1075px 219px #FFF , 338px 1266px #FFF , 780px 813px #FFF , 114px 529px #FFF , 1485px 1285px #FFF , 81px 962px #FFF , 1310px 1485px #FFF , 949px 1585px #FFF , 1906px 1063px #FFF , 793px 873px #FFF , 1970px 192px #FFF , 973px 324px #FFF , 1877px 790px #FFF , 583px 1807px #FFF , 686px 1665px #FFF , 770px 481px #FFF , 621px 1150px #FFF , 1455px 1632px #FFF , 1675px 920px #FFF , 1655px 711px #FFF , 1033px 372px #FFF , 1302px 935px #FFF , 1003px 806px #FFF , 835px 981px #FFF , 431px 1529px #FFF , 1208px 151px #FFF , 997px 1581px #FFF , 353px 1140px #FFF , 620px 592px #FFF , 1307px 1753px #FFF , 143px 1454px #FFF , 1324px 1108px #FFF , 1625px 1202px #FFF , 749px 775px #FFF , 444px 1086px #FFF , 1953px 1959px #FFF , 1408px 468px #FFF , 1308px 944px #FFF , 1536px 1976px #FFF , 365px 1975px #FFF , 1820px 1278px #FFF , 1603px 1953px #FFF , 1148px 427px #FFF , 1634px 1177px #FFF , 825px 1568px #FFF , 210px 1501px #FFF , 958px 1242px #FFF , 605px 1062px #FFF , 1599px 8px #FFF , 996px 1512px #FFF , 581px 754px #FFF , 82px 326px #FFF , 1025px 1943px #FFF , 331px 1932px #FFF , 824px 977px #FFF , 2000px 1893px #FFF , 946px 1405px #FFF , 1825px 161px #FFF , 369px 1283px #FFF , 1996px 710px #FFF , 1255px 1744px #FFF , 617px 1438px #FFF , 649px 1327px #FFF , 1889px 1921px #FFF , 1013px 623px #FFF , 1899px 742px #FFF , 138px 1059px #FFF , 750px 25px #FFF , 1438px 542px #FFF , 1319px 435px #FFF , 161px 1638px #FFF , 281px 513px #FFF , 1802px 1845px #FFF , 1933px 140px #FFF , 1022px 1678px #FFF , 716px 742px #FFF , 1386px 825px #FFF , 194px 1442px #FFF , 648px 1530px #FFF , 310px 1886px #FFF , 1909px 1102px #FFF , 1974px 1424px #FFF , 432px 1937px #FFF , 447px 1749px #FFF , 512px 478px #FFF , 507px 556px #FFF , 1520px 1255px #FFF , 494px 1593px #FFF , 978px 1119px #FFF , 1961px 49px #FFF , 1622px 1184px #FFF , 1936px 688px #FFF , 297px 1537px #FFF , 1906px 831px #FFF , 1756px 1571px #FFF , 1363px 1147px #FFF , 1209px 1225px #FFF , 1064px 895px #FFF , 727px 5px #FFF , 1978px 52px #FFF , 1839px 334px #FFF , 1497px 749px #FFF , 1601px 1201px #FFF , 1218px 1827px #FFF , 1321px 316px #FFF , 800px 1047px #FFF , 543px 478px #FFF , 1391px 1169px #FFF , 418px 932px #FFF , 1079px 1146px #FFF , 1538px 747px #FFF , 701px 1405px #FFF , 1906px 689px #FFF , 1234px 41px #FFF , 1566px 195px #FFF , 944px 1641px #FFF , 1334px 1916px #FFF , 1312px 908px #FFF , 557px 1769px #FFF , 874px 1051px #FFF , 1276px 1440px #FFF , 1512px 15px #FFF , 1706px 429px #FFF , 1454px 728px #FFF , 1144px 145px #FFF , 1552px 1076px #FFF , 372px 102px #FFF , 988px 871px #FFF , 715px 1039px #FFF , 1055px 1537px #FFF , 1002px 940px #FFF , 755px 1499px #FFF , 1159px 1535px #FFF , 1887px 1970px #FFF , 839px 1090px #FFF , 1793px 249px #FFF , 14px 1809px #FFF , 1808px 1573px #FFF , 129px 951px #FFF , 703px 1835px #FFF , 1539px 1574px #FFF , 772px 346px #FFF , 630px 343px #FFF , 350px 226px #FFF , 240px 125px #FFF , 737px 372px #FFF , 1954px 322px #FFF , 1473px 1045px #FFF , 1653px 1204px #FFF , 1222px 647px #FFF , 1255px 1459px #FFF , 1394px 1428px #FFF , 1586px 1559px #FFF , 166px 794px #FFF , 1351px 1864px #FFF , 1347px 107px #FFF , 1346px 160px #FFF , 785px 1855px #FFF , 808px 1115px #FFF , 1743px 1830px #FFF , 744px 513px #FFF , 718px 139px #FFF , 405px 1224px #FFF , 612px 483px #FFF , 1072px 1931px #FFF , 1194px 168px #FFF , 617px 396px #FFF , 1580px 135px #FFF , 966px 1184px #FFF , 647px 1418px #FFF , 845px 599px #FFF , 496px 1293px #FFF , 1512px 1139px #FFF , 743px 652px #FFF , 1587px 1326px #FFF , 540px 70px #FFF , 854px 1880px #FFF , 198px 1534px #FFF , 1322px 43px #FFF , 1758px 1538px #FFF , 1685px 1372px #FFF , 1478px 1460px #FFF , 246px 1784px #FFF , 718px 1678px #FFF , 394px 1383px #FFF , 840px 1310px #FFF , 368px 18px #FFF , 625px 1638px #FFF , 968px 553px #FFF , 1717px 1522px #FFF , 1257px 1269px #FFF , 1997px 1305px #FFF , 1121px 419px #FFF , 653px 824px #FFF , 818px 1829px #FFF , 918px 960px #FFF , 127px 1811px #FFF , 1678px 1135px #FFF , 1975px 1052px #FFF , 535px 1396px #FFF , 807px 1892px #FFF , 198px 168px #FFF , 851px 890px #FFF , 138px 554px #FFF , 499px 533px #FFF , 664px 483px #FFF , 1910px 455px #FFF , 637px 999px #FFF , 724px 1757px #FFF , 1499px 769px #FFF , 1552px 1964px #FFF , 1943px 1297px #FFF , 1368px 1880px #FFF , 769px 734px #FFF , 1108px 971px #FFF , 1783px 683px #FFF , 1635px 595px #FFF , 277px 582px #FFF , 494px 1817px #FFF , 198px 1759px #FFF , 1931px 864px #FFF , 1364px 1111px #FFF , 1787px 198px #FFF , 706px 1551px #FFF , 435px 685px #FFF , 1624px 393px #FFF , 774px 703px #FFF , 952px 468px #FFF , 1325px 1102px #FFF , 1037px 761px #FFF , 233px 1243px #FFF , 889px 1351px #FFF , 242px 688px #FFF , 563px 1367px #FFF , 572px 1564px #FFF , 1539px 130px #FFF , 574px 1470px #FFF , 1669px 136px #FFF , 1389px 272px #FFF , 197px 187px #FFF , 425px 1579px #FFF , 1957px 1842px #FFF , 560px 76px #FFF , 958px 1002px #FFF , 809px 415px #FFF , 1947px 537px #FFF , 2000px 875px #FFF , 108px 346px #FFF , 1694px 1570px #FFF , 169px 953px #FFF , 1721px 1893px #FFF , 369px 1573px #FFF , 870px 1544px #FFF , 25px 527px #FFF , 1530px 1731px #FFF , 1361px 496px #FFF , 333px 891px #FFF , 578px 1662px #FFF , 1732px 1602px #FFF , 1289px 1080px #FFF , 471px 1463px #FFF , 683px 1999px #FFF , 1277px 185px #FFF , 1326px 1915px #FFF , 774px 777px #FFF , 954px 1073px #FFF , 1053px 806px #FFF , 1735px 2000px #FFF , 513px 1523px #FFF , 1098px 1803px #FFF , 1413px 1970px #FFF , 27px 594px #FFF , 337px 55px #FFF , 1810px 337px #FFF , 1286px 325px #FFF , 111px 872px #FFF , 76px 1945px #FFF , 1368px 206px #FFF , 1045px 385px #FFF , 1997px 986px #FFF , 1216px 616px #FFF , 429px 1021px #FFF , 614px 464px #FFF , 109px 149px #FFF , 475px 811px #FFF , 1140px 48px #FFF , 400px 588px #FFF , 1385px 375px #FFF , 1592px 1017px #FFF , 1468px 1794px #FFF , 1570px 1254px #FFF , 1146px 1384px #FFF , 1021px 381px #FFF , 239px 133px #FFF , 1113px 1740px #FFF , 1223px 617px #FFF , 870px 737px #FFF , 1227px 693px #FFF , 910px 1698px #FFF , 283px 1925px #FFF , 1718px 1442px #FFF , 573px 301px #FFF , 855px 1436px #FFF , 930px 1981px #FFF , 210px 1011px #FFF , 1414px 187px #FFF , 809px 797px #FFF , 165px 1974px #FFF , 1925px 1366px #FFF , 181px 1208px #FFF , 1891px 1924px #FFF , 416px 1014px #FFF , 307px 101px #FFF , 1266px 1886px #FFF , 1707px 1578px #FFF , 1186px 1476px #FFF , 171px 984px #FFF , 1049px 1309px #FFF , 1980px 1088px #FFF , 1434px 1720px #FFF , 1594px 956px #FFF , 338px 212px #FFF , 44px 84px #FFF , 1258px 1672px #FFF , 726px 344px #FFF , 1432px 132px #FFF , 898px 1352px #FFF , 1209px 1026px #FFF , 143px 1946px #FFF , 522px 1860px #FFF , 1341px 785px #FFF , 879px 973px #FFF , 865px 144px #FFF , 1644px 1550px #FFF , 14px 1785px #FFF , 1422px 1130px #FFF , 675px 1010px #FFF , 1053px 1133px #FFF , 293px 974px #FFF , 557px 942px #FFF , 980px 947px #FFF , 102px 1446px #FFF , 1358px 1846px #FFF , 1071px 1454px #FFF , 1474px 1921px #FFF , 760px 484px #FFF , 512px 1269px #FFF , 1422px 1727px #FFF , 1344px 799px #FFF , 213px 1743px #FFF , 1857px 664px #FFF , 432px 388px #FFF , 404px 1728px #FFF , 516px 106px #FFF , 142px 723px #FFF , 1821px 1495px #FFF , 403px 1972px #FFF , 1722px 926px #FFF , 1746px 196px #FFF , 1478px 1158px #FFF , 279px 709px #FFF , 1606px 904px #FFF , 957px 1224px #FFF , 499px 40px #FFF , 1575px 300px #FFF , 230px 1931px #FFF , 1868px 957px #FFF , 449px 1092px #FFF , 1766px 494px #FFF , 1760px 570px #FFF , 1990px 195px #FFF , 1993px 130px #FFF , 1418px 39px #FFF , 190px 59px #FFF , 1708px 842px #FFF , 357px 1330px #FFF , 424px 245px #FFF , 1395px 499px #FFF , 1734px 1394px #FFF , 1468px 1727px #FFF , 962px 1580px #FFF , 1947px 1226px #FFF , 1779px 1058px #FFF , 13px 102px #FFF , 880px 265px #FFF , 471px 496px #FFF , 1937px 1870px #FFF , 28px 1119px #FFF , 1582px 1575px #FFF , 946px 549px #FFF , 725px 581px #FFF , 1629px 1910px #FFF , 613px 242px #FFF , 722px 283px #FFF , 126px 1250px #FFF , 536px 738px #FFF , 127px 1336px #FFF , 1443px 1310px #FFF , 777px 752px #FFF , 1501px 1711px #FFF , 868px 211px #FFF , 837px 1196px #FFF , 456px 894px #FFF , 1965px 397px #FFF , 931px 871px #FFF , 1353px 2000px #FFF , 1485px 1502px #FFF , 989px 1412px #FFF , 1639px 206px #FFF , 214px 1065px #FFF , 870px 1706px #FFF , 1832px 1357px #FFF , 1252px 1375px #FFF , 1090px 491px #FFF , 295px 831px #FFF , 1661px 620px #FFF , 563px 1137px #FFF , 614px 1685px #FFF , 68px 1285px #FFF , 1457px 540px #FFF , 1904px 1369px #FFF , 524px 1937px #FFF , 1466px 1985px #FFF , 95px 305px #FFF , 1999px 510px #FFF , 299px 1324px #FFF , 1091px 57px #FFF , 1115px 1549px #FFF , 1194px 485px #FFF , 434px 226px #FFF , 1519px 1281px #FFF , 244px 1787px #FFF , 351px 1125px #FFF , 281px 881px #FFF , 905px 820px #FFF , 1550px 809px #FFF , 26px 255px #FFF , 1731px 1402px #FFF , 1439px 367px #FFF , 1901px 214px #FFF , 1285px 1073px #FFF , 510px 83px #FFF , 1721px 1732px #FFF , 639px 960px #FFF , 185px 1177px #FFF , 1630px 23px #FFF , 821px 1908px #FFF , 849px 1162px #FFF , 456px 735px #FFF , 216px 779px #FFF , 659px 1383px #FFF , 1374px 971px #FFF , 1619px 478px #FFF , 1530px 943px #FFF , 707px 924px #FFF , 1036px 704px #FFF , 1978px 1519px #FFF , 1452px 1463px #FFF , 1595px 1501px #FFF , 425px 1674px #FFF , 1001px 114px #FFF , 1048px 896px #FFF , 1087px 605px #FFF , 743px 486px #FFF , 299px 1503px #FFF , 457px 1406px #FFF , 982px 1552px #FFF , 749px 509px #FFF , 1202px 1375px #FFF , 222px 1207px #FFF , 1728px 1408px #FFF , 1544px 1655px #FFF , 953px 1039px #FFF , 1554px 216px #FFF , 665px 774px #FFF , 1361px 1844px #FFF , 148px 1897px #FFF , 762px 1503px #FFF , 1923px 64px #FFF , 1283px 298px #FFF , 1897px 310px #FFF , 1023px 869px #FFF , 1283px 1415px #FFF , 130px 721px #FFF , 1021px 342px #FFF , 1768px 1736px #FFF , 451px 238px #FFF , 1004px 329px #FFF , 1699px 126px #FFF , 274px 1851px #FFF , 1469px 381px #FFF , 1035px 1793px #FFF , 1968px 720px #FFF , 1008px 484px #FFF , 802px 409px #FFF , 715px 127px #FFF , 422px 998px #FFF , 993px 260px #FFF , 1495px 1066px #FFF , 1052px 572px #FFF , 1534px 1920px #FFF , 656px 233px #FFF , 1782px 1209px #FFF , 1955px 1087px #FFF , 1962px 466px #FFF , 1241px 34px #FFF , 1261px 1862px #FFF , 259px 118px #FFF , 859px 1233px #FFF , 1687px 1537px #FFF , 524px 919px #FFF , 665px 368px #FFF , 1273px 507px #FFF , 1728px 302px #FFF , 554px 1138px #FFF , 490px 340px #FFF , 50px 361px #FFF , 1623px 1914px #FFF , 730px 1854px #FFF , 1698px 537px #FFF , 788px 178px #FFF , 1466px 1927px #FFF , 604px 558px #FFF , 28px 329px #FFF , 760px 535px #FFF , 536px 1612px #FFF , 901px 808px #FFF , 1282px 732px #FFF , 389px 464px #FFF , 1643px 1472px #FFF , 677px 1126px #FFF , 275px 838px #FFF , 350px 1445px #FFF , 400px 482px #FFF , 708px 36px #FFF , 315px 199px #FFF , 1088px 1276px #FFF , 1985px 1114px #FFF , 163px 251px #FFF , 457px 1193px #FFF , 57px 682px #FFF , 40px 1314px #FFF , 1442px 1149px #FFF , 1997px 1023px #FFF , 1024px 853px #FFF , 1973px 636px #FFF , 1019px 1912px #FFF , 1686px 1450px #FFF , 1443px 831px #FFF , 516px 191px #FFF , 590px 1330px #FFF , 1363px 780px #FFF , 381px 1843px #FFF , 813px 462px #FFF , 507px 22px #FFF , 203px 567px #FFF , 1384px 318px #FFF , 78px 930px #FFF , 319px 1007px #FFF , 707px 1572px #FFF , 1643px 1488px #FFF , 555px 269px #FFF , 1337px 927px #FFF , 1561px 419px #FFF , 469px 240px #FFF , 86px 1470px #FFF , 647px 1948px #FFF , 1777px 1106px #FFF , 1252px 545px #FFF , 1370px 834px #FFF , 487px 766px #FFF , 1354px 1710px #FFF , 958px 460px #FFF , 686px 1135px #FFF , 1259px 1703px #FFF , 1303px 974px #FFF , 1936px 1314px #FFF , 746px 753px #FFF , 1787px 1910px #FFF , 764px 21px #FFF , 730px 1391px #FFF , 1833px 1298px #FFF , 662px 1191px #FFF , 1170px 1096px #FFF , 841px 1209px #FFF , 1218px 983px #FFF , 1134px 787px #FFF , 1509px 811px #FFF , 230px 559px #FFF , 113px 62px #FFF , 1199px 629px #FFF , 1014px 587px #FFF , 438px 1233px #FFF , 1248px 1321px #FFF , 958px 103px #FFF , 1520px 1245px #FFF , 998px 1223px #FFF , 1688px 463px #FFF , 454px 1200px #FFF , 1729px 1566px #FFF , 1440px 1599px #FFF , 1323px 291px #FFF , 30px 1256px #FFF , 1466px 1369px #FFF , 1016px 212px #FFF , 810px 1620px #FFF , 663px 835px #FFF , 1687px 1546px #FFF , 1352px 30px #FFF , 446px 1439px #FFF , 1110px 1081px #FFF , 219px 582px #FFF , 614px 1451px #FFF , 848px 1178px #FFF , 118px 1928px #FFF , 825px 1464px #FFF , 1428px 1452px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1330px 914px #FFF , 1003px 95px #FFF , 1317px 1548px #FFF , 67px 888px #FFF , 822px 1427px #FFF , 1606px 1352px #FFF , 449px 915px #FFF , 396px 780px #FFF , 1757px 1491px #FFF , 1904px 39px #FFF , 38px 104px #FFF , 679px 1826px #FFF , 1857px 354px #FFF , 336px 850px #FFF , 315px 1094px #FFF , 122px 734px #FFF , 1859px 872px #FFF , 506px 1035px #FFF , 390px 1533px #FFF , 819px 572px #FFF , 394px 1434px #FFF , 574px 775px #FFF , 307px 1322px #FFF , 1923px 1236px #FFF , 222px 337px #FFF , 805px 1673px #FFF , 378px 991px #FFF , 600px 1987px #FFF , 1586px 94px #FFF , 674px 1662px #FFF , 442px 571px #FFF , 65px 945px #FFF , 362px 773px #FFF , 1414px 1752px #FFF , 128px 1450px #FFF , 972px 1304px #FFF , 1926px 1933px #FFF , 1601px 1676px #FFF , 780px 16px #FFF , 1743px 1038px #FFF , 929px 1828px #FFF , 1931px 317px #FFF , 1416px 137px #FFF , 1334px 434px #FFF , 1756px 343px #FFF , 1075px 1144px #FFF , 1939px 1006px #FFF , 1475px 874px #FFF , 1049px 1721px #FFF , 247px 802px #FFF , 1588px 367px #FFF , 492px 438px #FFF , 529px 1188px #FFF , 1769px 1635px #FFF , 1697px 1770px #FFF , 850px 606px #FFF , 35px 502px #FFF , 302px 1708px #FFF , 19px 1200px #FFF , 1523px 719px #FFF , 1019px 605px #FFF , 1636px 1781px #FFF , 1571px 1772px #FFF , 1442px 126px #FFF , 1459px 1862px #FFF , 300px 605px #FFF , 1126px 265px #FFF , 721px 1596px #FFF , 1808px 1805px #FFF , 926px 580px #FFF , 1057px 1912px #FFF , 1550px 1441px #FFF , 728px 1701px #FFF , 1544px 1391px #FFF , 1147px 1674px #FFF , 684px 220px #FFF , 829px 839px #FFF , 1902px 1086px #FFF , 1618px 1980px #FFF , 1632px 836px #FFF , 1683px 699px #FFF , 202px 1800px #FFF , 1170px 736px #FFF , 495px 127px #FFF , 1510px 625px #FFF , 738px 1389px #FFF , 92px 1498px #FFF , 1048px 1246px #FFF , 1470px 1820px #FFF , 1019px 1673px #FFF , 1759px 719px #FFF , 1415px 255px #FFF , 393px 1984px #FFF , 1130px 371px #FFF , 288px 1546px #FFF , 580px 1731px #FFF , 574px 1658px #FFF , 1728px 1377px #FFF , 961px 1986px #FFF , 1059px 1148px #FFF , 488px 1315px #FFF , 1928px 1091px #FFF , 1814px 1186px #FFF , 1846px 1910px #FFF , 669px 1250px #FFF , 1528px 1000px #FFF , 964px 1634px #FFF , 1186px 1499px #FFF , 760px 894px #FFF , 295px 51px #FFF , 1021px 927px #FFF , 1502px 1461px #FFF , 1917px 1469px #FFF , 219px 1125px #FFF , 58px 508px #FFF , 458px 826px #FFF , 982px 1982px #FFF , 1385px 1408px #FFF , 162px 238px #FFF , 802px 65px #FFF , 561px 1540px #FFF , 633px 1559px #FFF , 742px 820px #FFF , 1736px 1162px #FFF , 1136px 1348px #FFF , 135px 221px #FFF , 577px 131px #FFF , 483px 186px #FFF , 1988px 371px #FFF , 1222px 756px #FFF , 87px 239px #FFF , 592px 1807px #FFF , 1199px 1126px #FFF , 50px 1053px #FFF , 189px 1526px #FFF , 1409px 1623px #FFF , 770px 757px #FFF , 923px 679px #FFF , 898px 1343px #FFF , 1929px 1844px #FFF , 1261px 235px #FFF , 424px 1188px #FFF , 32px 1248px #FFF , 1395px 247px #FFF , 546px 905px #FFF , 1378px 1736px #FFF , 211px 166px #FFF , 1741px 1550px #FFF , 1986px 1222px #FFF , 230px 757px #FFF , 1000px 251px #FFF , 796px 847px #FFF , 697px 599px #FFF , 380px 1129px #FFF , 886px 1748px #FFF , 1821px 1464px #FFF , 1419px 1936px #FFF , 931px 709px #FFF , 338px 329px #FFF , 1087px 1455px #FFF , 678px 782px #FFF , 560px 1521px #FFF , 681px 305px #FFF , 919px 925px #FFF , 898px 1238px #FFF , 1830px 392px #FFF , 1841px 1883px #FFF , 354px 571px #FFF , 211px 1436px #FFF , 1664px 1571px #FFF , 1593px 1075px #FFF , 807px 1340px #FFF , 793px 1679px #FFF , 638px 429px #FFF , 1315px 629px #FFF , 958px 1248px #FFF , 445px 864px #FFF , 222px 682px #FFF , 1131px 372px #FFF , 770px 701px #FFF , 1498px 1111px #FFF , 1829px 1310px #FFF , 1620px 1461px #FFF , 1881px 1235px #FFF , 496px 276px #FFF , 593px 1416px #FFF , 711px 269px #FFF , 1354px 901px #FFF , 446px 1204px #FFF , 703px 260px #FFF , 1003px 946px #FFF , 1516px 1753px #FFF , 1092px 1973px #FFF , 573px 1401px #FFF , 723px 1796px #FFF , 1970px 73px #FFF , 837px 1306px #FFF , 1590px 1199px #FFF , 1351px 456px #FFF , 1432px 1068px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1330px 914px #FFF , 1003px 95px #FFF , 1317px 1548px #FFF , 67px 888px #FFF , 822px 1427px #FFF , 1606px 1352px #FFF , 449px 915px #FFF , 396px 780px #FFF , 1757px 1491px #FFF , 1904px 39px #FFF , 38px 104px #FFF , 679px 1826px #FFF , 1857px 354px #FFF , 336px 850px #FFF , 315px 1094px #FFF , 122px 734px #FFF , 1859px 872px #FFF , 506px 1035px #FFF , 390px 1533px #FFF , 819px 572px #FFF , 394px 1434px #FFF , 574px 775px #FFF , 307px 1322px #FFF , 1923px 1236px #FFF , 222px 337px #FFF , 805px 1673px #FFF , 378px 991px #FFF , 600px 1987px #FFF , 1586px 94px #FFF , 674px 1662px #FFF , 442px 571px #FFF , 65px 945px #FFF , 362px 773px #FFF , 1414px 1752px #FFF , 128px 1450px #FFF , 972px 1304px #FFF , 1926px 1933px #FFF , 1601px 1676px #FFF , 780px 16px #FFF , 1743px 1038px #FFF , 929px 1828px #FFF , 1931px 317px #FFF , 1416px 137px #FFF , 1334px 434px #FFF , 1756px 343px #FFF , 1075px 1144px #FFF , 1939px 1006px #FFF , 1475px 874px #FFF , 1049px 1721px #FFF , 247px 802px #FFF , 1588px 367px #FFF , 492px 438px #FFF , 529px 1188px #FFF , 1769px 1635px #FFF , 1697px 1770px #FFF , 850px 606px #FFF , 35px 502px #FFF , 302px 1708px #FFF , 19px 1200px #FFF , 1523px 719px #FFF , 1019px 605px #FFF , 1636px 1781px #FFF , 1571px 1772px #FFF , 1442px 126px #FFF , 1459px 1862px #FFF , 300px 605px #FFF , 1126px 265px #FFF , 721px 1596px #FFF , 1808px 1805px #FFF , 926px 580px #FFF , 1057px 1912px #FFF , 1550px 1441px #FFF , 728px 1701px #FFF , 1544px 1391px #FFF , 1147px 1674px #FFF , 684px 220px #FFF , 829px 839px #FFF , 1902px 1086px #FFF , 1618px 1980px #FFF , 1632px 836px #FFF , 1683px 699px #FFF , 202px 1800px #FFF , 1170px 736px #FFF , 495px 127px #FFF , 1510px 625px #FFF , 738px 1389px #FFF , 92px 1498px #FFF , 1048px 1246px #FFF , 1470px 1820px #FFF , 1019px 1673px #FFF , 1759px 719px #FFF , 1415px 255px #FFF , 393px 1984px #FFF , 1130px 371px #FFF , 288px 1546px #FFF , 580px 1731px #FFF , 574px 1658px #FFF , 1728px 1377px #FFF , 961px 1986px #FFF , 1059px 1148px #FFF , 488px 1315px #FFF , 1928px 1091px #FFF , 1814px 1186px #FFF , 1846px 1910px #FFF , 669px 1250px #FFF , 1528px 1000px #FFF , 964px 1634px #FFF , 1186px 1499px #FFF , 760px 894px #FFF , 295px 51px #FFF , 1021px 927px #FFF , 1502px 1461px #FFF , 1917px 1469px #FFF , 219px 1125px #FFF , 58px 508px #FFF , 458px 826px #FFF , 982px 1982px #FFF , 1385px 1408px #FFF , 162px 238px #FFF , 802px 65px #FFF , 561px 1540px #FFF , 633px 1559px #FFF , 742px 820px #FFF , 1736px 1162px #FFF , 1136px 1348px #FFF , 135px 221px #FFF , 577px 131px #FFF , 483px 186px #FFF , 1988px 371px #FFF , 1222px 756px #FFF , 87px 239px #FFF , 592px 1807px #FFF , 1199px 1126px #FFF , 50px 1053px #FFF , 189px 1526px #FFF , 1409px 1623px #FFF , 770px 757px #FFF , 923px 679px #FFF , 898px 1343px #FFF , 1929px 1844px #FFF , 1261px 235px #FFF , 424px 1188px #FFF , 32px 1248px #FFF , 1395px 247px #FFF , 546px 905px #FFF , 1378px 1736px #FFF , 211px 166px #FFF , 1741px 1550px #FFF , 1986px 1222px #FFF , 230px 757px #FFF , 1000px 251px #FFF , 796px 847px #FFF , 697px 599px #FFF , 380px 1129px #FFF , 886px 1748px #FFF , 1821px 1464px #FFF , 1419px 1936px #FFF , 931px 709px #FFF , 338px 329px #FFF , 1087px 1455px #FFF , 678px 782px #FFF , 560px 1521px #FFF , 681px 305px #FFF , 919px 925px #FFF , 898px 1238px #FFF , 1830px 392px #FFF , 1841px 1883px #FFF , 354px 571px #FFF , 211px 1436px #FFF , 1664px 1571px #FFF , 1593px 1075px #FFF , 807px 1340px #FFF , 793px 1679px #FFF , 638px 429px #FFF , 1315px 629px #FFF , 958px 1248px #FFF , 445px 864px #FFF , 222px 682px #FFF , 1131px 372px #FFF , 770px 701px #FFF , 1498px 1111px #FFF , 1829px 1310px #FFF , 1620px 1461px #FFF , 1881px 1235px #FFF , 496px 276px #FFF , 593px 1416px #FFF , 711px 269px #FFF , 1354px 901px #FFF , 446px 1204px #FFF , 703px 260px #FFF , 1003px 946px #FFF , 1516px 1753px #FFF , 1092px 1973px #FFF , 573px 1401px #FFF , 723px 1796px #FFF , 1970px 73px #FFF , 837px 1306px #FFF , 1590px 1199px #FFF , 1351px 456px #FFF , 1432px 1068px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 824px 820px #FFF , 1262px 641px #FFF , 1706px 1702px #FFF , 202px 902px #FFF , 933px 295px #FFF , 1499px 551px #FFF , 947px 1042px #FFF , 921px 538px #FFF , 1258px 1954px #FFF , 1222px 1414px #FFF , 714px 1302px #FFF , 1967px 1291px #FFF , 761px 459px #FFF , 424px 1168px #FFF , 1619px 1495px #FFF , 1796px 125px #FFF , 1555px 1472px #FFF , 165px 183px #FFF , 1589px 1415px #FFF , 1250px 1023px #FFF , 419px 104px #FFF , 1503px 1439px #FFF , 1057px 87px #FFF , 491px 1879px #FFF , 889px 1965px #FFF , 1691px 1575px #FFF , 396px 842px #FFF , 462px 1449px #FFF , 810px 858px #FFF , 199px 317px #FFF , 246px 1266px #FFF , 335px 1827px #FFF , 399px 1785px #FFF , 833px 1529px #FFF , 658px 188px #FFF , 673px 1240px #FFF , 452px 1785px #FFF , 696px 1742px #FFF , 1966px 451px #FFF , 940px 1793px #FFF , 1642px 1272px #FFF , 326px 1400px #FFF , 1366px 1372px #FFF , 655px 1171px #FFF , 749px 1229px #FFF , 1892px 1503px #FFF , 1408px 276px #FFF , 1734px 1826px #FFF , 598px 1100px #FFF , 1183px 1300px #FFF , 365px 1149px #FFF , 569px 1519px #FFF , 455px 1163px #FFF , 1123px 869px #FFF , 1536px 143px #FFF , 915px 1981px #FFF , 1264px 1768px #FFF , 632px 1006px #FFF , 1575px 697px #FFF , 243px 1592px #FFF , 459px 680px #FFF , 1983px 1008px #FFF , 611px 809px #FFF , 1796px 1788px #FFF , 1126px 172px #FFF , 306px 1755px #FFF , 539px 960px #FFF , 284px 98px #FFF , 750px 1037px #FFF , 927px 157px #FFF , 1943px 1956px #FFF , 856px 1553px #FFF , 615px 776px #FFF , 149px 1071px #FFF , 1915px 308px #FFF , 406px 1767px #FFF , 1444px 637px #FFF , 575px 804px #FFF , 1901px 1961px #FFF , 1775px 1105px #FFF , 943px 1163px #FFF , 982px 994px #FFF , 1966px 882px #FFF , 1478px 434px #FFF , 1846px 1566px #FFF , 1008px 1980px #FFF , 953px 376px #FFF , 968px 490px #FFF , 934px 243px #FFF , 1822px 1156px #FFF , 1118px 1887px #FFF , 1104px 65px #FFF , 506px 120px #FFF , 24px 555px #FFF , 1432px 1932px #FFF , 1676px 1019px #FFF , 1550px 323px #FFF , 754px 1250px #FFF , 1247px 362px #FFF , 1930px 1991px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 824px 820px #FFF , 1262px 641px #FFF , 1706px 1702px #FFF , 202px 902px #FFF , 933px 295px #FFF , 1499px 551px #FFF , 947px 1042px #FFF , 921px 538px #FFF , 1258px 1954px #FFF , 1222px 1414px #FFF , 714px 1302px #FFF , 1967px 1291px #FFF , 761px 459px #FFF , 424px 1168px #FFF , 1619px 1495px #FFF , 1796px 125px #FFF , 1555px 1472px #FFF , 165px 183px #FFF , 1589px 1415px #FFF , 1250px 1023px #FFF , 419px 104px #FFF , 1503px 1439px #FFF , 1057px 87px #FFF , 491px 1879px #FFF , 889px 1965px #FFF , 1691px 1575px #FFF , 396px 842px #FFF , 462px 1449px #FFF , 810px 858px #FFF , 199px 317px #FFF , 246px 1266px #FFF , 335px 1827px #FFF , 399px 1785px #FFF , 833px 1529px #FFF , 658px 188px #FFF , 673px 1240px #FFF , 452px 1785px #FFF , 696px 1742px #FFF , 1966px 451px #FFF , 940px 1793px #FFF , 1642px 1272px #FFF , 326px 1400px #FFF , 1366px 1372px #FFF , 655px 1171px #FFF , 749px 1229px #FFF , 1892px 1503px #FFF , 1408px 276px #FFF , 1734px 1826px #FFF , 598px 1100px #FFF , 1183px 1300px #FFF , 365px 1149px #FFF , 569px 1519px #FFF , 455px 1163px #FFF , 1123px 869px #FFF , 1536px 143px #FFF , 915px 1981px #FFF , 1264px 1768px #FFF , 632px 1006px #FFF , 1575px 697px #FFF , 243px 1592px #FFF , 459px 680px #FFF , 1983px 1008px #FFF , 611px 809px #FFF , 1796px 1788px #FFF , 1126px 172px #FFF , 306px 1755px #FFF , 539px 960px #FFF , 284px 98px #FFF , 750px 1037px #FFF , 927px 157px #FFF , 1943px 1956px #FFF , 856px 1553px #FFF , 615px 776px #FFF , 149px 1071px #FFF , 1915px 308px #FFF , 406px 1767px #FFF , 1444px 637px #FFF , 575px 804px #FFF , 1901px 1961px #FFF , 1775px 1105px #FFF , 943px 1163px #FFF , 982px 994px #FFF , 1966px 882px #FFF , 1478px 434px #FFF , 1846px 1566px #FFF , 1008px 1980px #FFF , 953px 376px #FFF , 968px 490px #FFF , 934px 243px #FFF , 1822px 1156px #FFF , 1118px 1887px #FFF , 1104px 65px #FFF , 506px 120px #FFF , 24px 555px #FFF , 1432px 1932px #FFF , 1676px 1019px #FFF , 1550px 323px #FFF , 754px 1250px #FFF , 1247px 362px #FFF , 1930px 1991px #FFF;
}

html {
  position: fixed;
  height: 100%;
  width: 100%;
  font-family: "lato", sans-serif;
  color: #FFF;
  background: radial-gradient(ellipse at bottom, #0c1116 0%, #090a0f 100%);
}

#horizon {
  position: absolute;
  width: 160%;
  height: 70%;
  border-radius: 100%/100%;
  background: #038bff;
  -webkit-filter: blur(30px);
  left: 50%;
  bottom: -20%;
  margin-left: -80%;
}
#horizon:before {
  content: " ";
  position: absolute;
  width: 81.25%;
  height: 70%;
  border-radius: 100%/100%;
  background: #51AFFF;
  -webkit-filter: blur(30px);
  opacity: 0.6;
  margin-left: 9.375%;
}
#horizon:after {
  content: " ";
  position: absolute;
  width: 32%;
  height: 20%;
  border-radius: 650px/350px;
  background: #B0DAFF;
  -webkit-filter: blur(30px);
  opacity: 0.5;
  margin-left: 34%;
}
#horizon .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  background: #215496;
  -webkit-filter: blur(200px);
  opacity: 0.7;
  top: -10%;
}

#earth {
  position: absolute;
  width: 200%;
  height: 100%;
  background: black;
  border-radius: 100%/100%;
  left: 50%;
  bottom: -50%;
  margin-left: -100%;
}
#earth:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
  box-shadow: inset 0px 0px 62px 20px rgba(60, 105, 138, 0.85);
}
#earth:after {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF000000', endColorstr='#FF000000');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #000000), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(100%, #000000));
  background-image: -moz-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: -webkit-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  background-image: linear-gradient(to right, #000000 0%, rgba(0, 0, 0, 0) 50%, #000000 100%);
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%/100%;
}

#title {
  position: absolute;
  font-weight: 300;
  top: 30%;
  left: 0;
  right: 0;
  margin-top: -80px;
  font-size: 130px;
  text-align: center;
  letter-spacing: 20px;
  padding-left: 20px;
  background: -webkit-linear-gradient(white, #dbdde0, #38495a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-name: animGravity;
}

#subtitle {
  position: absolute;
  font-weight: 300;
  top: 70%;
  left: 0;
  right: 0;
  font-size: 25px;
  text-align: center;
  letter-spacing: 6px;
}
#subtitle span {
  color: #d8d8d8;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
#subtitle span:nth-child(1) {
  animation-name: animDont;
}
#subtitle span:nth-child(2) {
  animation-name: animLet;
}
#subtitle span:nth-child(3) {
  animation-name: animGo;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
@keyframes animGravity {
  0% {
    transform: translateY(-26px);
    opacity: 0;
  }
  30%, 80% {
    letter-spacing: 40px;
    padding-left: 40px;
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    letter-spacing: 35px;
    padding-left: 35px;
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animDont {
  0%	, 15% {
    transform: translateY(-26px);
    opacity: 0;
  }
  35%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animLet {
  0%	, 25% {
    transform: translateY(-26px);
    opacity: 0;
  }
  45%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}
@keyframes animGo {
  0%	, 35% {
    transform: translateY(-26px);
    opacity: 0;
  }
  55%, 80% {
    transform: translateY(0px);
    opacity: 1;
  }
  92%, 100% {
    transform: translateY(-4px);
    opacity: 0;
  }
}























@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: grid;
  
  
}

.page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card {
    height: 350px;
  }
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
  background-image: url(ML.png);
}
.card:nth-child(2):before {
  background-image: url(coding.webp);
}
.card:nth-child(3):before {
  background-image: url(techfest.png);
}
.card:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card:hover,
.card:focus-within {
    align-items: center;
  }
  .card:hover:before,
.card:focus-within:before {
    transform: translateY(-4%);
  }
  .card:hover:after,
.card:focus-within:after {
    transform: translateY(-50%);
  }
  .card:hover .content,
.card:focus-within .content {
    transform: translateY(0);
  }
  .card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card:focus-within:before, .card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}



























